<!DOCTYPE html>
<html>

<head>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial;
            padding: 10px;
            background-color: #f1f1f1;
        }

        .header {
            padding: 10px;
            text-align: center;
            background-color: white;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        @media screen and (max-width: 400px) {
            .topnav a {
                float: none;
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="topnav">
        <a href="/login" style="float:right">로그인</a>
        <a href="/join" style="float:right">회원가입</a>
        <a href="/upload" style="float:right">업로드</a>
    </div>

    <div class="header">
        <h1>header</h1>
    </div>
</body>

</html>